
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

header{
    background-color: #EDF2EC;
    font-family: 'Inika';
    font-style: normal;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    text-align: center;
    padding: 26px 109px 26px 111px;
}

.header__logo{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    
}

.header__logo-item{
    height: 20px;
    width: 20px;
}

.header__logo-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
}

.header__item{
    margin-right: 42px;
}

.header__item:last-child{
    margin-right: 0px;
}

.header__link{
    font-weight: 400;
    line-height: 50px;
    font-size: 16px;
    color: #010201;
    text-decoration: none;
    transition: 0.3s;
    
}

.header__link:hover{
    color: #E06733;
    transition: 0.3s;
}

.welcome{
    background-color: #EDF2EC;
}

.welcome__wrapper{
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
}

.welcome__img{
    margin: 62px 0px 62.64px 109px;
}

.welcome__img-item{
    width: 448.8px;
    height: 407.36px;
}

.welcom__conteiner{
    width: 584px;
    height: 340px;
    margin: 94px 109px 98px 224.2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.welcom__title{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

.welcom__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.title__green{
    color: #499A18;
}

.welcom__button{
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    background: #EDF2EC;
}

.welcom__button:hover{
    background: #E06733;
    color: #EDF2EC;
    transition: 0.3s;
}

.about{
    max-height: 666px;
}

.about__conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__text-conteiner{
   width: 650px; 
   height: 350px;
   margin: 161px 0px 155px 109px;
}

.about__title{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.title__orang{
    color: #E06733;
}

.about__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.about__img{
    padding:  93px 109px 94px 154px;
}

.about__img-item{
    width: 464px;
    height: 479px;
}

.service{
    background: #EDF2EC;
}

.service__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 94px;
    padding: 40px 324px 90px 109px;
    font-family: 'Inika';
}

.service__title{
    width:  306px; 
}

.service__title-text{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.service__buttton-section{
    width: 559px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 15px;
}

.service__button-item{
    padding: 12px 40px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    background: #EDF2EC;
    color: #E06733;
}

.service__button-item:hover{
    transition: 0.3s;
    background: #E06733;
    color: #EDF2EC;   
}

.service__content{
    margin-bottom: 79px;
    font-family: 'Inter';
}

.content__conteiner{
    display: flex;
    flex-direction: row;
}

.conteiner__service{
    margin-left: 116px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.service__img{
    width: 329px; 
    height: 350px;
    border-radius: 20px 20px 0px 0px;
}

.service-content__text-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.service-content__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}