html {
    scroll-behavior: smooth; 
  }

body{
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Yellowtail', cursive;
    background-image: url("../rsschool-cv/assets/img/WallpaperDog-6673.jpg");
}

.conteiner{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    border: 10px dotted;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F8F9FC;
}

.header-img__avatar{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.header-nav__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.header-nav__item{
    font-size: 24px;
    background: #000000;
    color:#F8F9FC;
    border: 2px double #F8F9FC;

}
.header-nav__item:hover{
    background: #F8F9FC;
    color:#000000;
    border: 2px double #000000;
}
.header-nav__link{
    padding: 0 20px;
    line-height: 50px;   
}

.main-about{
    text-align: center;
}
.main__title{
    font-size: 64px;
    text-decoration: underline;
    color: #F8F9FC;
}
.about-information{
    border: 10px dotted;
    background-color: #F8F9FC;
}
.about-information__title{
    font-size: 48px;
    text-decoration: underline;
}
.about-information__text{
    font-size: 24px;
}